<tr>
<td valign="top">
<p>&nbsp;</p>
<p>A J. N. Faísca Lda., oferece uma vasta gama de maquinaria usada, fornecemos bulldozers, escavadoras, moto niveladoras, camiões e muito mais. Consulte o nosso stock.</p>
<p>Se não temos a máquina que procura contacte-nos que, dentro de poucos dias temos uma resposta para si através da nossa rede alargada de fornecedores.</p>
<p>A J. N. Faísca Lda., é gerida pelo Sr. José Nogueira Faísca e trata-se de uma empresa familiar em que todos os clientes têm um tratamento personalizado.</p>
<p>Se procura equipamentos de elevada qualidade a preços razoáveis contacte-nos que temos o que procura.</p>
<p>Todos os equipamentos são completamente revistos e reparados quando necessário para que a satisfação do cliente seja total.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><img src="/images/stories/imagens/parque3.jpg" border="0"></p>

</td>
</tr>